<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mapbox.mapboxandroiddemo.examples.p_081119_twoativ_auth_and_database">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Zakaz1"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Zakaz2"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Zakaz3finish"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Zakaz4Request"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".Proba"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".FeedBack1" />
        <activity android:name=".ViewMapLesosibirsk" />
        <activity android:name=".ViewMapKansk" />
        <activity android:name=".ViewMapAchinsk" />
        <activity android:name=".ViewMapSosnovoborsk" />
        <activity android:name=".ViewMapKrasnoyarsk" />
        <activity android:name=".MainUserNewOne2" />
        <activity android:name=".MainUserNewOne" />
        <activity android:name=".ServApp_0" />
        <activity android:name=".DriversApp_InternetNot_forDriverApp_0" />
        <activity android:name=".DriversApp_InternetNot" />
        <activity android:name=".DriversApp_Start" />
        <activity android:name=".MainList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InternetNotDriver" />
        <activity android:name=".DriversApp_0" />
        <activity android:name=".DriversApp_1" />
        <activity android:name=".ServApp_1" />

    </application>

</manifest>